body {
  background-color: blue;
}
li#red {
  color: red;
}
li#yellow {
  color: orange;
}
li#green {
  color: green;
  list-style-image: url("http://upload.wikimedia.org/wikipedia/commons/9/90/Check_mark_23x20_02.svg");
}
